<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Scott Morse</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/index.css">
    </head>
    <body>
    <div id="page-wrap">
    <Header>
    <!-- <div id="contact">
        <div id="contact-mask"></div>
        <div id="contact-wrap">
            <div id="X">X</div>
            <div id="contact-links">
                <h3>Contact</h3>
                <a target="_blank" href="https://www.linkedin.com/in/scott-morse-691a0055/">LinkedIn</a>
                <a target="_blank" href="https://github.com/ScottMorse">GitHub</a>
                <a id="email-link" target="_blank" href="mailto:scottmorsedev@gmail.com">Email</a>
                <div id="email">scottmorsedev@gmail.com</div>
            </div>
        </div>
    </div>
     <div id="header-bckg"></div>
      <div id="top-nav">
        <a href="#portfolio">Portfolio</a>
        <a href="#teaser-blocks">Skills</a>
        <button id="contact-button">Contact</button>
      </div> 
      -->
      <div id="header-bckg"></div>
      <div id="header-wrap">
        <div id="staff">
            <div id="clef"></div>
            <div id="notes">
            <div id="note-img"></div>
            </div>
        </div>
        <h1><span class='cap'>S</span>cott <span class='cap'> M</span>orse</h1>
        <div id="code">
            <div id="line-container">
                <div class="code-line"><div>def from_frequency(Hz,prefer=None):return Note(*utils.note_names_from_frequency(Hz,prefer)) rep = f'Note {self.name}{str(self.octave if self.octave != None else "")}'\</div></div>
                <div class="code-line"><div>utils.note_plus_intvl(self,intvl_obj)if type(note_obj1) is not Note or type(note_obj2) is not Note:raise ValueError("Invalid Note object passed.")utils.intvl_from_notes(note_obj1,note_obj2)</div></div>
                <div class="code-line"><div>self._data = utils.parse_symbol(symbol) return Note(self._data["root"])for intvl in self.intervals.split():spelling.append(self.root + Interval(intvl))def __iter__(self):return iter(self.spelling)</div></div>
            </div>
        </div>
      </div>
      <h2 id="dev">Developer</h2>
    </Header>

        <script src="scripts/indexStatic.js"></script>
    </body>
</html>