<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Scott Morse</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/index.css">
    </head>
    <body>
    <div id="page-wrap">
        
        <div id="top-nav">
            <a href="#portfolio">Portfolio</a>
            <a href="#skills">Skills</a>
            <a href="#contact">Contact</a>
        </div> 

        <Header>
            <div id="header-bckg"></div>
            <div id="header-wrap">
                <div id="staff">
                    <div id="clef"></div>
                    <div id="notes">
                    <div id="note-img"></div>
                    </div>
                </div>
                <h1><span class='cap'>S</span>cott <span class='cap'> M</span>orse</h1>
                <div id="code">
                    <div id="line-container">
                        <div class="code-line">def from_frequency(Hz,prefer=None):return Note(*utils.note_names_from_frequency(Hz,prefer)) rep = f'Note {self.name}{str(self.octave if self.octave != None else "")}'\def from_frequency(Hz,prefer=None):return Note(*utils.note_names_from_frequency(Hz,prefer)) rep = f'Note {self.name}{str(self.octave if self.octave != None else "")}'\</div>
                        <div class="code-line">utils.note_plus_intvl(self,intvl_obj)if type(note_obj1) is not Note or type(note_obj2) is not Note:raise ValueError("Invalid Note object passed.")utils.intvl_from_noteutils.note_plus_intvl(self,intvl_obj)if type(note_obj1) is not Note or type(note_obj2) is not Note:raise ValueError("Invalid Note object passed.")utils.intvl_from_note</div>
                        <div class="code-line">self._data = utils.parse_symbol(symbol) return Note(self._data["root"])for intvl in self.intervals.split():spelling.append(self.root + Interval(intvl))def __iter__(selfself._data = utils.parse_symbol(symbol) return Note(self._data["root"])for intvl in self.intervals.split():spelling.append(self.root + Interval(intvl))def __iter__(se</div>
                    </div>
                </div>
            </div>
            <h2 id="dev">Developer</h2>
        </Header>
        
        <section id="teaser">
            <h2>Hello!</h2>
        </section>


    </div>
    <script src="scripts/indexStatic.js"></script>
    </body>
</html>