
@import url('https://fonts.googleapis.com/css?family=Playball|Source+Sans+Pro:200,400|Oswald');

html{
    line-height: 1;
}

* {
    font-family: 'Source Sans Pro';
}

*:focus{
    outline: none;
}

a {
    text-decoration: none;
    color: unset;
}

#top-nav{
    position: fixed;
    z-index: 5;
}

#top-nav * {
    color: white;
    background: none;
    background-color: none;
    border: 2px solid white;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    margin: 8px;
    transition: background-color .35s ease, color .35s ease;
    z-index: 5;
}

#top-nav *:hover{
    cursor: pointer;
    color: rgb(27, 27, 29);
    background-color: white;
}

h1 {
    font-family: 'Playball';
    color: white;
    font-size: 11vw;
    margin: 0;
    z-index: 1;
    white-space: nowrap;
    display: flex;
}

.cap{
    font-size: 12vw;
    font-family: inherit;
}

#dev{
    color: white;
    font-weight: lighter;
    width: 100vw;
    margin-top: -45vh;
    font-size: 8vw;
    letter-spacing: 7px;
}

#header-bckg{
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: url('../imgs/desk.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.3) saturate(0.8);
    z-index: -1;
    overflow-x: hidden;
}

body{
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    background-color: black;
}

#header-wrap{
    height: inherit;
    width: inherit;
    display: flex;
    align-items: center;
}

Header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    user-select: none;
}

#staff {
    width: 30vw;
    height: 9vw;
    z-index: 0;
    margin: 0;
    margin-right: -3.85vw;
    display: flex;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

#notes {
    width: 30vw;
    overflow: hidden;
    height: inherit;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

#note-img{
    background-image: url("../imgs/bach.png");
    background-size: 78vw 9vw;
    background-repeat: repeat-x;
    background-position: left center;
    height: inherit;
    min-width: 10000vw;
    filter: brightness(2) contrast(2);
}

/* #clef {
    background-image: url("../imgs/bach.png");
    background-size: 78vw 9vw;
    background-repeat: repeat-x;
    background-position: left center;
    height: inherit;
    width: 10vw;
    filter: brightness(2) contrast(2);
} */

#code{
    font-family: monospace;
    white-space: nowrap;
    color: white;
    width: 30vw;
    height: 8vw;
    transform: translateY(2.9vw);
    margin-left: 0.38vw;
    font-size: 1.2vw;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
}

.code-line {
    display: flex;
    justify-content: flex-end;
}

#line-container{
    position: absolute;
}

.line-container{
    position: absolute;
}

#contact {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: opacity 0.5s ease;
    opacity: 0;
    display: none;
}

#contact-mask{
    height: inherit;
    width: inherit;
    position: absolute;
    background-color: black;
    opacity: 0.8;
}

#contact-wrap{
    background-color: black;
    height: 80vh;
    width: 33vw;
    min-height: 500px;
    min-width: 300px;
    position: absolute;
    display: flex;
    border: 5px solid rgb(95, 170, 255);
}

#contact-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    min-width: inherit;
}

#contact-links a {
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    background-color: rgb(59, 59, 59);
    color: rgb(95, 170, 255);
    border-radius: 5% / 15%;
    transition: background-color .35s ease, color .35s ease;
}

#contact-wrap a:hover{
    /* color: rgb(59, 59, 59); */
    background-color: rgb(95, 170, 255);
}

#contact-wrap h3 {
    color: rgb(95, 170, 255);
    margin: 0 0 30px 0;
    user-select: none;
    font-family: 'Oswald';
    font-size: 60px;
}


#email-link{
    margin-bottom: 0;
}
#email {
    font-size: 16px;
    background-color: rgb(95, 170, 255);
    padding: 5px;
    border-radius: 5% / 20%;
    color: black;
    user-select: text;
    margin: 0;
}

h2,h3,h4{
    user-select: none;
}

#X{
    position: absolute;
    font-size: 35px;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: rgb(95, 170, 255);
    color: white;
}

#X:hover{
    cursor: pointer;
}

.port-title{
    font-family: 'Oswald'
}

.port-desc{
    text-indent: 30px;
    margin-right: -10%;
}

#footer{
    height: 500px;
    display: flex;
    align-items: flex-end;
}

#copy{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    height: 200px;
    font-size: 30px;
}

@media screen and (max-width: 768px){
    h1 {
        font-size: 15vw;
    }
    .cap {
        font-size: 17vw;
    }
    #code{
        font-size: 1.5vw;
    }
    #staff {
        height: 8vw;
        overflow-y: visible;
        margin-right: -5.6vw;
    }
    #tease-block-3{
        flex-direction: column !important;
        height: auto;
    }
    .skill-list{
        width: 100vw !important;
        font-size: 20px;
    }
}

@media screen and (min-width: 768px){
    #dev{
        font-size: 6vw;
        margin-top: -40vh;
    }
}

@media screen and (min-width: 1080px){
    #dev {
        font-size: 5vw;
        margin-top: -40vh;
    }
}