@import url('https://fonts.googleapis.com/css?family=Playball|Source+Sans+Pro:200|Asap');

html{
    line-height: 1;
    font-size: 10vw;
}

* {
    font-family: 'Asap';
}

#page-wrap{
    width: 100vw;
    overflow-x: hidden;
    height: 200vh
}

*:focus{
    outline: none;
}

a {
    text-decoration: none;
    color: unset;
}

#top-nav{
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 5;
}

#top-nav a {
    color: white;
    background: none;
    background-color: none;
    border: 2px solid white;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    margin: 8px;
    transition: background-color .35s ease, color .35s ease;
    z-index: 5;
}

#top-nav *:hover
{
    cursor: pointer;
    color: rgb(27, 27, 29);
    background-color: white;
}

body{
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
    background-color: black;
}

Header {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    user-select: none;
}

#header-bckg{
    position: absolute;
    width: inherit;
    height: inherit;
    background-image: url('../imgs/desk.jpeg');
    background-size: cover;
    background-position: center;
    filter: brightness(0.35) saturate(0.8);
    z-index: -1;
    overflow-x: hidden;
}

#header-wrap{
    /* height: inherit; */
    width: inherit;
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Playball';
    color: white;
    font-size: 1.7em;
    margin: 0;
    z-index: 1;
    white-space: nowrap;
    display: flex;
}

.cap{
    font-size: 1.1em;
    font-family: inherit;
}

#staff {
    width: 30vw;
    height: 9vw;
    z-index: 0;
    margin: 0;
    margin-right: -6.1vw;
    display: flex;
    overflow-x: hidden;
    display: flex;
    align-items: center;
}

#notes {
    width: 30vw;
    overflow: hidden;
    height: inherit;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

#note-img{
    background-image: url("../imgs/bach.png");
    background-size: 78vw 9vw;
    background-repeat: repeat-x;
    background-position: left center;
    height: inherit;
    min-width: 10000vw;
    filter: brightness(2) contrast(2);
}

#code{
    font-family: monospace;
    white-space: nowrap;
    color: white;
    width: 30vw;
    height: 8vw;
    transform: translateY(2.9vw);
    margin-left: 0.38vw;
    font-size: 0.1em;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
}

.code-line {
    display: flex;
    justify-content: flex-end;
}

#line-container{
    position: absolute;
}

.line-container{
    position: absolute;
}

#dev{
    color: white;
    font-weight: lighter;
    width: 100vw;
    text-align: center;
    font-size: 8vw;
    letter-spacing: 7px;
    margin-top: 0;
    font-family: 'Source Sans Pro'
}